<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <img src="images/chevron.png" alt="" class="collapsible__chevron">
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laboriosam sit, eius ab delectus architecto molestiae expedita consectetur exercitationem in doloremque numquam quo error quae impedit placeat aliquam ipsa alias non. Quas enim officia, molestiae nesciunt natus dolore repellendus odit iste? Autem libero molestias quidem cum quae laudantium ex ratione!</p>
    </div>
 </div>
 <script src="js/main.js"></script>  